html {
  width: 100%;
  min-height: 100%;
}

body {
  background: #EAEBF2 !important;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

aside .logo img {
  max-width: 90%;
}

aside nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px 0;
}

aside .menu__first-node {
  margin: 0;
  padding: 0;
}

aside .menu__first-node .menu__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  cursor: pointer;
}

aside .menu__first-node .menu__item:hover .arrow-icon {
  opacity: 1;
}

aside .menu__first-node .menu__item:hover .text {
  color: #000;
}

aside .menu .folder-icon {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .menu .folder-icon img {
  width: 20px;
  height: 20px;
}

aside .menu .arrow-icon {
  margin: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .3s opacity ease;
  transition: .3s opacity ease;
}

aside .menu .arrow-icon img {
  width: 4px;
  height: 8px;
}

aside .menu .arrow-icon.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

aside .menu .text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5A4E4E;
  -webkit-transition: .3s color ease;
  transition: .3s color ease;
}

aside .menu__second-node {
  display: none;
}

aside .menu__second-node .menu__item > div {
  padding: 0 0 0 24px;
  padding: 0;
}

aside .menu__second-node .menu__item .folder-icon {
  margin-left: 16px;
}

aside .menu__second-node.active {
  display: block;
}

aside .menu__third-node {
  display: none;
  width: 100%;
}

aside .menu__third-node .menu__item {
  width: 100%;
  margin: 8px 0;
  padding: 0 0 0 29px;
  padding: 0;
}

aside .menu__third-node .menu__item > div {
  margin: 0 0 0 0 !important;
}

aside .menu__third-node .menu__item > div:not(.link-container) {
  margin: 4px 0 4px 55px !important;
}

aside .menu__third-node .menu__item .folder-icon {
  margin: 0 !important;
}

aside .menu__third-node .menu__item .text {
  margin: 0 !important;
  margin-left: 8px !important;
}

aside .menu__third-node.active {
  display: block;
}

aside .menu__third-node .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 !important;
  padding: 4px 0 4px 55px !important;
  width: 100%;
  border: 1px solid transparent;
  z-index: 1000;
}

aside .menu__third-node .link-container a {
  z-index: 1;
  padding: 0;
  margin: 8px 0 0 0;
  text-decoration: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5A4E4E;
  white-space: nowrap;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
}

aside .menu__third-node .link-container a:first-child {
  margin-top: 0;
}

aside .menu__third-node .link-container:hover {
  border: 1px solid #D8DAE7;
  color: #000;
}

aside .menu__third-node .link-container.active {
  background: #D8DAE7;
}

aside main {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside header {
  height: 50px;
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

aside header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside header .hamburger {
  margin: 5px 30px 0 0;
  padding: 0 !important;
  /* &-inner
             &, &::before, &::after
             border-radius: 0px
             width: 30px
             &::before
             top: 8px !important
             &::after
             top: 16px !important */
}

aside header .breadcrumb .breadcrumb-item a {
  color: #808080;
  text-decoration: none;
}

aside header .breadcrumb .breadcrumb-item.active a {
  color: #000;
}

aside header .header__right input {
  height: 30px;
}

aside header .header__right img {
  width: auto;
  height: 30px;
  border-radius: 50%;
}

aside header .header__right span {
  display: block;
  white-space: nowrap;
  font-size: 15px;
  margin-left: 0px !important;
}

aside header .header__right .bell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside header .header__right .bell-number__container {
  background: #b94646;
  color: #fff;
  height: 23px;
  width: 23px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

aside header .header__right i {
  margin: 0 3px;
}

aside header .header__right > *:not(i) {
  margin: 0 10px;
}

aside section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
}

aside section .dropdown button {
  background: transparent !important;
  color: blue !important;
  border-color: blue !important;
}
/*# sourceMappingURL=main.css.map */